--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.themoviedb.org/3/search/person?query=Reeves&api_key=TMDB_API_KEY
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json;charset=utf-8
      status: 
      - 200 OK
      x-memc: 
      - HIT
      x-memc-age: 
      - "192"
      x-memc-key: 
      - /search/person?include_adult=false&language=en&page=1&query=reeves
      x-varnish-sid: 
      - tm-v-p-1100
    body: 
      encoding: ASCII-8BIT
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"id\":6384,\"name\":\"Keanu Reeves\",\"profile_path\":\"/jmjeALlAVaPB8SonLR3qBN5myjc.jpg\"},{\"adult\":false,\"id\":11496,\"name\":\"George Reeves\",\"profile_path\":\"/98aYzkJmmsMHPmY77IUHVc2sbgy.jpg\"},{\"adult\":false,\"id\":89394,\"name\":\"Anita Reeves\",\"profile_path\":null},{\"adult\":false,\"id\":79132,\"name\":\"Anna Reeves\",\"profile_path\":null},{\"adult\":false,\"id\":99463,\"name\":\"B. Reeves Eason\",\"profile_path\":null},{\"adult\":false,\"id\":120200,\"name\":\"Bob Reeves\",\"profile_path\":null},{\"adult\":false,\"id\":1041599,\[...]
