---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?query=Reeves&api_key=TMDB_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json;charset=utf-8
      etag:
      - ! '"94506d2ad86f7382c18866184abdab8d"'
      status:
      - 200 OK
      x-memc:
      - HIT
      x-memc-age:
      - '764'
      x-memc-key:
      - /search/person?include_adult=false&language=en&page=1&query=reeves
      x-varnish-sid:
      - tm-v-p-1200
    body:
      encoding: ASCII-8BIT
      string: ! '{"page":1,"results":[{"adult":false,"id":6384,"name":"Keanu Reeves","profile_path":"/2iIDCiw8fyxRodh7fxzIsW0ITj7.jpg"},{"adult":false,"id":68495,"name":"Perrey
        Reeves","profile_path":"/8qXaUqYhPDqMhBQdyGacSU4mjAl.jpg"},{"adult":false,"id":114573,"name":"Pat
        Reeves","profile_path":null},{"adult":false,"id":13363,"name":"Saskia Reeves","profile_path":"/6N1dqfV3eZ2EHD2cyyndAiGCg6k.jpg"},{"adult":false,"id":120200,"name":"Bob
        Reeves","profile_path":null},{"adult":false,"id":11496,"name":"George Reeves","profile_path":"/98aYzkJmmsMHPmY77IUHVc2sbgy.jpg"},{"ad[...]
